// ●------Reset----●
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
// ●------Reset----●

//------------Variables------------
@import "Vars";
//------------Variables------------

.Container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: 
    " Container__row1"
    " Container__Content"
    " Container__row2";
    grid-template-rows: 80px 1fr 80px; 

    .Container__row1{
        grid-area: Container__row1;
        background-image: linear-gradient(to right, rgb(33, 110, 226) 20%, rgb(68, 177, 240));

        .row1__LogoHeader{
            height: 75px;
            width: 300px;
            background-image: url("../IMG/LogoHeader.png");
            position: relative;
            left: 10px;
            top: 2px;
        }
    }

    .Container__Content{
        grid-area: Container__Content;
        display: grid;
        grid-template-areas: 
        " Content__space1 Content__space1"
        " Content__rowProducts1 Content__rowProducts1"
        " Content__space2 Content__space2"
        " Content__rowProducts2 Content__rowProducts2"
        " Content__space3 Content__space3"
        " Content__rowProducts3 Content__rowProducts3"
        " Content__space4 Content__space4"
        " Content__rowShoppingCart Content__rowShoppingCart"
        " Content__space5 Content__space5";
        grid-template-rows: 55px 316px 52px 317px 52px 317px 20px 1fr 15px;  // 565px el último


    //=========== Space1 and rowProducts1 ===========
        .Content__space1{
            grid-area: Content__space1;
            background-color: map-get($Spaces, ColorSpace);

            .TitleProducts{
                @include TitleProducts;
            }
        }

        .Content__rowProducts1{
            grid-area: Content__rowProducts1;
            background-color: map-get($Spaces, ColorRowProducts);
            overflow-x: scroll;
            overflow-y: hidden;

            

            .SectionScroll-1{
                @include SectionScroll;

                //--------- 𝐂𝐚𝐫𝐝 ---------
                .rowProducts1__card{
                    @include cards1;

                    //======= IMGCards =======
                    .IMGCard0{
                        background-image: url("../IMG/IMG_Hogar/Silla\ de\ oficina[1].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard1{
                        background-image: url("../IMG/IMG_Hogar/Lámpara\ de\ escritorio[2].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard2{
                        background-image: url("../IMG/IMG_Hogar/Litera[3].jpg");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard3{
                        background-image: url("../IMG/IMG_Hogar/Silla\ gamer[4].jpg");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard4{
                        background-image: url("../IMG/IMG_Hogar/Mueble[5].jpg");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard5{
                        background-image: url("../IMG/IMG_Hogar/Juego\ de\ comedor[6].jpg");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard6{
                        background-image: url("../IMG/IMG_Hogar/Estantería[7].jpg");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard7{
                        background-image: url("../IMG/IMG_Hogar/Closet[8].jpg");
                        @include Bg;
                        @include IMGCard;
                    }
                    //======= IMGCards =======

                    .TextCard{
                        @include TextCard;
                    }

                    .TextPrice{
                        @include TextPrice;
                    }

                    .RowFlex{
                        @include RowFlex;

                        .ButtonPay-1{
                            height: 36px;
                            width: 85px;
                            background-color: rgb(11, 103, 241);
                            border: 2.5px solid rgb(13, 83, 187);
                            border-radius: 15px;
                            cursor: pointer;

                            .TextButton{
                                @include TextButton;
                            }
                        }
                    }
                }
                //--------- 𝐂𝐚𝐫𝐝 ---------
            }
        }
    //=========== Space1 and rowProducts1 ===========


    //=========== Space2 and rowProducts2 ===========
        .Content__space2{
            grid-area: Content__space2;
            background-color: map-get($Spaces, ColorSpace);

            .TitleProducts{
                @include TitleProducts;
            }
        }

        .Content__rowProducts2{
            grid-area: Content__rowProducts2;
            background-color: map-get($Spaces, ColorRowProducts);
            overflow-x: scroll;
            overflow-y: hidden;

            .SectionScroll-2{
                @include SectionScroll;

                //--------- 𝐂𝐚𝐫𝐝 2 ---------
                .rowProducts2__card{
                    @include cards1;

                    //======= IMGCards =======
                    .IMGCard2--8{
                        background-image: url("../IMG/IMG_Cocina/Licuadora[1].jpg");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard2--9{
                        background-image: url("../IMG/IMG_Cocina/Microondas[2].jpg");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard2--10{
                        background-image: url("../IMG/IMG_Cocina/Horno[3].jpg");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard2--11{
                        background-image: url("../IMG/IMG_Cocina/Juego\ de\ cubiertos[4].jpg");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard2--12{
                        background-image: url("../IMG/IMG_Cocina/Juego\ de\ utencilios[5].jpg");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard2--13{
                        background-image: url("../IMG/IMG_Cocina/Batidora[6].jpg");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard2--14{
                        background-image: url("../IMG/IMG_Cocina/Cafetera[7].jpg");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard2--15{
                        background-image: url("../IMG/IMG_Cocina/Mortero\ de\ marmol[8].jpg");
                        @include Bg;
                        @include IMGCard;
                    }
                    //======= IMGCards =======

                    .TextCard{
                        @include TextCard;
                    }

                    .TextPrice{
                        @include TextPrice;
                    }

                    .RowFlex{
                        @include RowFlex;

                        .ButtonPay-2{
                            @include ButtonPay;

                            .TextButton{
                                @include TextButton;
                            }
                        }
                    }
                }
                //--------- 𝐂𝐚𝐫𝐝 2 ---------
            }
        }
    //=========== Space2 and rowProducts2 ===========


    //=========== Space3 and rowProducts3 ===========
        .Content__space3{
            grid-area: Content__space3;
            background-color: map-get($Spaces, ColorSpace);

            .TitleProducts{
                @include TitleProducts;
            }
        }

        .Content__rowProducts3{
            grid-area: Content__rowProducts3;
            background-color: map-get($Spaces, ColorRowProducts);
            overflow-x: scroll;
            overflow-y: hidden;

            .SectionScroll-3{
                @include SectionScroll;

                //--------- 𝐂𝐚𝐫𝐝 3 ---------
                .rowProducts3__card{
                    @include cards1;

                    //======= IMGCards =======
                    .IMGCard3--16{
                        background-image: url("../IMG/IMG_Electrodomesticos/Audífonos\ Inalámbricos[1].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard3--17{
                        background-image: url("../IMG/IMG_Electrodomesticos/Regleta[2].jpg");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard3--18{
                        background-image: url("../IMG/IMG_Electrodomesticos/Audífonos[3].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard3--19{
                        background-image: url("../IMG/IMG_Electrodomesticos/Aro\ De\ Luz\ Led[4].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard3--20{
                        background-image: url("../IMG/IMG_Electrodomesticos/Joystick[5].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard3--21{
                        background-image: url("../IMG/IMG_Electrodomesticos/Cornetas[6].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard3--22{
                        background-image: url("../IMG/IMG_Electrodomesticos/Batería\ Portátil[7].jpg");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard3--23{
                        background-image: url("../IMG/IMG_Electrodomesticos/Reloj\ inteligente[8].png");
                        @include Bg;
                        @include IMGCard;
                    }
                    //======= IMGCards =======

                    .TextCard{
                        @include TextCard;
                    }

                    .TextPrice{
                        @include TextPrice;
                    }

                    .RowFlex{
                        @include RowFlex;

                        .ButtonPay-3{
                            @include ButtonPay;

                            .TextButton{
                                @include TextButton;
                            }
                        }
                    }
                }
                //--------- 𝐂𝐚𝐫𝐝 2 ---------
            }
        }
    //=========== Space3 and rowProducts3 ===========


    //=========== 𝐒𝐡𝐨𝐩𝐩𝐢𝐧𝐠𝐂𝐚𝐫𝐭 ===========
        .Content__space4{
            grid-area: Content__space4;
            background-image: linear-gradient(to bottom, rgb(223, 221, 221) 100%, rgb(180, 175, 175));
        }

        .Content__rowShoppingCart{
            grid-area: Content__rowShoppingCart;
            background-image: linear-gradient(to bottom, rgb(223, 221, 221) 23%, rgb(180, 175, 175));
            overflow-x: hidden;
            overflow-y: hidden;

            //============ 𝐂𝐨𝐧𝐭𝐞𝐧𝐭𝐅𝐥𝐞𝐱 ============
            .rowShoppingCart__ContentFlex{
                display: flex;
                justify-content: center;

                .ContentFlex__SectionShoppingCart{
                    height: 90px;
                    width: 1300px;
                    border-radius: 15px;
                    border: 4px solid rgb(6, 71, 145);
                    background-color: rgb(0, 102, 255);
                    background-image: linear-gradient(to top, rgba(0, 140, 255, 0.699) 5%, rgb(0, 102, 255));

                    .SectionShoppingCart__Text{
                        font-size: 40px;
                        text-align: center;
                        margin-top: 18px;
                        font-family: "FontT";
                        color: white;
                    }
                }
            }
            //============ 𝐂𝐨𝐧𝐭𝐞𝐧𝐭𝐅𝐥𝐞𝐱 ============


            //============ 𝐅𝐨𝐫𝐦𝐒𝐞𝐜𝐭𝐢𝐨𝐧 ============
            .rowShoppingCart__FormSection{
                margin-top: 10px;
                display: flex;
                justify-content: center;

                .FormSection__ContainerForm{
                    height: 80px;
                    width: 900px;
                    border: solid rgba(0, 0, 0, 0.651) 3px;
                    border-radius: 20px;
                    background-image: linear-gradient(to top, rgba(129, 131, 133, 0.466), rgb(172, 172, 172));
                    display: grid;
                    grid-template-areas: 
                    " ContainerForm__Row1 ContainerForm__Row1"
                    " ContainerForm__Row2 ContainerForm__Row2";
                    grid-template-rows: 1fr 1fr;

                    .ContainerForm__Row1{
                        grid-area: ContainerForm__Row1;
                        background-color: rgba(255, 0, 0, 0);
                        display: grid;
                        grid-template-areas: 
                        " Row1__Column1 Row1__Column2";
                        grid-template-columns: 1fr 1fr;

                        .Row1__Column1{
                            grid-area: Row1__Column1;
                            background-color: rgba(128, 128, 128, 0);

                            .Column1__Text{
                                font-size: 25px;
                                font-family: "FontT";
                                margin-top: 8px;
                                margin-left: 7px;
                                text-align: left;
                            }
                        }

                        .Row1__Column2{
                            grid-area: Row1__Column2;
                            background-color: rgba(68, 67, 67, 0);
                        }
                    }

                    .ContainerForm__Row2{
                        grid-area: ContainerForm__Row2;
                        background-color: rgba(9, 109, 223, 0);
                        display: grid;
                        grid-template-areas: 
                        " Row2__Column1 Row2__Column2";
                        grid-template-columns: 1fr 1fr;

                        .Row2__Column1{
                            grid-area: Row2__Column1;
                            background-color: rgba(226, 117, 117, 0);

                            .Column1__Text{
                                font-size: 25px;
                                font-family: "FontT";
                                margin-top: 8px;
                                margin-left: 7px;
                                text-align: left;
                            }
                        }

                        .Row2__Column2{
                            grid-area: Row2__Column2;
                            background-color: rgba(145, 59, 59, 0);
                        }
                    }
                }
            }
            //============ 𝐅𝐨𝐫𝐦𝐒𝐞𝐜𝐭𝐢𝐨𝐧 ============


            //=========== 𝐓𝐚𝐛𝐥𝐞𝐒𝐡𝐨𝐩𝐢𝐧𝐠𝐂𝐚𝐫𝐭 ===========

            table{
                border-width: 3px 4px 3px 3px;
                border-color: black;
                border-style: solid;
                border-collapse: collapse;
            } 

            td{
                border-width: 3px 0px 0px 0px;
                border-color: black;
                border-style: solid;
                border-collapse: collapse;
            }

            th{
                border-width: 0px 3px 0px 0px;
                border-color: black;
                border-style: solid;
                border-collapse: collapse;
            }

            .rowShoppingCart__ContainerTable{
                background-color: rgba(255, 0, 0, 0);
                display: grid;
                justify-content: center;
                margin-top: 20px;

                .ContainerTable__TableShopingCart{
                    width: 800px;
                    background-color: greenyellow;
                    margin-bottom: 3px;

                    .TableShopingCart__Enumeration{
                        width: 200px;
                        background-color: rgb(62, 61, 63);

                        .Enumeration__Text{
                            font-size: 25px;
                            font-family: "FontT";
                            text-align: center;
                            color: white;
                            padding-left: 10px;
                            padding-right: 15px;
                        }
                    }

                    .TableShopingCart__FirstRow{
                        height: 45px;
                        width: 100%;
                        background-color: map-get($TableShopingCart, FirstRow);


                        .FirstRow__Text{
                            font-size: 25px;
                            font-family: "FontT";
                            text-align: center;
                        }
                    }

                    .TableShopingCart__Row{
                        height: 90px;
                        width: 100%;
                        background-color: rgb(0, 153, 255);
                        display: grid;
                        grid-template-areas: 
                        " Row__Column1 Row__Column2 Row__Column3";
                        grid-template-columns: 1fr 1fr 1fr;

                        .Row__Column1{
                            grid-area: Row__Column1;
                            background-color: rgb(168, 167, 167);
                            display: grid;
                            grid-template-areas: 
                            " Column1__Row-A" 
                            " Column1__Row-B";
                            grid-template-rows: 1fr 1fr;

                            .Column1__Row-A{
                                grid-area: Column1__Row-A;
                                background-color: rgba(0, 153, 255, 0);
                                border-width: 0px 0px 3px 0px;
                                border-color: black;
                                border-style: solid;

                                .Row-A__Title{
                                    font-size: 25px;
                                    font-family: "FontT";
                                    text-align: center;
                                    margin-top: 10px;
                                }
                            }

                            .Column1__Row-B{
                                grid-area: Column1__Row-B;
                                background-color: rgba(0, 81, 255, 0);
                                display: flex;
                                justify-content: center;

                                .Row-B__Text{  
                                    font-size: 25px;
                                    font-family: "FontT";
                                    margin-top: 10px;
                                }

                                .Row-B__PlusButton{
                                    height: 35px;
                                    width: 35px;
                                    background-color: rgb(131, 245, 97);
                                    cursor: pointer;
                                    margin-top: 4px;
                                    margin-left: 10px;
                                    border-radius: 10px;
                
                                    .PlusButton__Text{
                                        font-size: 20px;
                                        font-family: "FontT";
                                        margin-right: 3px;
                                        margin-top: 2px;
                                    }
                                }

                                .Row-B__MinusButton{
                                    height: 35px;
                                    width: 35px;
                                    background-color: rgb(238, 63, 63);
                                    cursor: pointer;
                                    margin-top: 4px;
                                    margin-left: 2px;
                                    border-radius: 10px;
                
                                    .MinusButton__Text{
                                        font-size: 20px;
                                        font-family: "FontT";
                                        margin-right: 3px;
                                        margin-top: 2px;
                                    }
                                } 
                            }
                        }

                        .Row__Column2{
                            grid-area: Row__Column2;
                            background-color: rgb(105, 104, 104);
                            display: grid;
                            grid-template-areas: 
                            " Column2__Row-A" 
                            " Column2__Row-B";
                            grid-template-rows: 1fr 1fr;

                            .Column2__Row-A{
                                grid-area: Column2__Row-A;
                                background-color: rgba(204, 0, 255, 0);
                                border-width: 0px 0px 3px 0px;
                                border-color: black;
                                border-style: solid;

                                .Row-A__Title{
                                    font-size: 25px;
                                    font-family: "FontT";
                                    text-align: center;
                                    margin-top: 10px;
                                }
                            }

                            .Column2__Row-B{
                                grid-area: Column2__Row-B;
                                background-color: rgba(158, 7, 196, 0);

                                .Row-B__Title{
                                    font-size: 25px;
                                    font-family: "FontT";
                                    text-align: center;
                                    margin-top: 9px;
                                }
                            }
                        }

                        .Row__Column3{
                            grid-area: Row__Column3;
                            background-color: rgb(168, 167, 167);
                            display: grid;
                            grid-template-areas: 
                            " Column3__Row-A" 
                            " Column3__Row-B";
                            grid-template-rows: 1fr 1fr;

                            .Column3__Row-A{
                                grid-area: Column3__Row-A;
                                background-color: rgba(0, 153, 255, 0);
                                border-width: 0px 0px 3px 0px;
                                border-color: black;
                                border-style: solid;

                                .Row-A__Title{
                                    font-size: 25px;
                                    font-family: "FontT";
                                    text-align: center;
                                    margin-top: 10px;
                                }
                            }

                            .Column3__Row-B{
                                grid-area: Column3__Row-B;
                                background-color: rgba(0, 81, 255, 0);

                                .Row-B__Title{
                                    font-size: 25px;
                                    font-family: "FontT";
                                    text-align: center;
                                    margin-top: 9px;
                                }
                            }
                        }
                    }
                }
            }



            //========== TotalPrice ==========
            .rowShoppingCart__ContainerTotalPrice{
                height: 60px;
                width: 100%;
                margin-top: 2px;
                display: flex;
                justify-content: center;
                background-color: rgba(255, 0, 0, 0);

                .ContainerTotalPrice__TemplateTotalPrice{
                    height: 60px;
                    width: 600px;
                    border: solid rgba(0, 0, 0, 0.651) 3px;
                    border-radius: 20px;
                    background-image: linear-gradient(to top, rgba(129, 131, 133, 0.466), rgb(172, 172, 172));
                    display: grid;
                    grid-template-areas: 
                    " Column1TotalPrice Column2TotalPrice" ;
                    grid-template-columns: 200px 390px;

                    .Column1TotalPrice{
                        grid-area: Column1TotalPrice;
                        background-color: rgba(255, 0, 0, 0);

                        .TemplateTotalPrice__Text-1{
                            font-size: 25px;
                            font-family: "FontT";
                            margin-top: 14px;
                            margin-left: 7px;
                            text-align: left;
                        }
                    }

                    .Column2TotalPrice{
                        grid-area: Column2TotalPrice;
                        background-color: rgba(0, 153, 255, 0);

                        .TemplateTotalPrice__Text-2{
                            font-size: 25px;
                            font-family: "FontT";
                            margin-top: 14px;
                            margin-left: 280px;
                            text-align: left;
                        }
                    }
                }
            }
            //========== TotalPrice ==========

            .rowShoppingCart__ContainerSendButton{
                height: 50px;
                width: 100%;
                display: flex;
                justify-content: center;
                background-color: rgba(255, 0, 0, 0);
                margin-top: 8px;

                .SendButton{
                    height: 50px;
                    width: 170px;
                    border-radius: 20px;
                    cursor: pointer;
                    background-color: rgb(69, 245, 16);

                    .SendButton__Text{
                        font-size: 25px;
                        font-family: "FontT";
                    }
                }
            }


            .rowShoppingCart__ContainerDeleteButton{
                height: 50px;
                width: 100%;
                display: flex;
                justify-content: center;
                background-color: rgba(255, 0, 0, 0);
                margin-top: 8px;

                .DeleteButton{
                    height: 50px;
                    width: 170px;
                    border-radius: 20px;
                    cursor: pointer;
                    background-color: rgb(245, 16, 16);

                    .DeleteButton__Text{
                        font-size: 25px;
                        font-family: "FontT";
                    }
                }
            }
            //=========== 𝐓𝐚𝐛𝐥𝐞𝐒𝐡𝐨𝐩𝐢𝐧𝐠𝐂𝐚𝐫𝐭 ===========
        }

        .Content__space5{
            grid-area: Content__space5;
            background-color: rgb(180, 175, 175);
        }
        
    //=========== 𝐒𝐡𝐨𝐩𝐩𝐢𝐧𝐠𝐂𝐚𝐫𝐭 ===========  



    

    }

    .Container__row2{
        grid-area: Container__row2;
        background-color: black;

        .row1__LogoFooter{
            height: 75px;
            width: 400px;
            background-image: url("../IMG/LogoFooter.png");
            background-color: rgba(255, 0, 0, 0);
            position: relative;
            left: 10px;
            top: 2px;
        }
    }
}


























